body {
  /* vh = view port height */
  height: 100vh;
}

.navbar img {
  flex-shrink: 0;
}

.links ul {
  display: flex;
  list-style-type: none;

  align-items: center;
  gap: 10px;
  margin: 0px;
  padding: 0px;
  color: black;
  justify-content: end;
}

.main,
#project,
#experience {
  padding-left: 15%;
  padding-right: 15%;
}

/* credit to codepen typing effect by user Marko */
.typer {
  height: 100px;
  /*This part is important for centering*/
  display: grid;
  place-items: center start;
}

.typing-demo {
  width: 9ch;
  animation: typing 0.5s steps(9), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Times New Roman", Times, serif;
  font-size: 3.5em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.sec {
  display: flex;
  width: 100%;
  height: 300px;
  flex: auto;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 50px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

.footer ul {
  display: flex;
  justify-content: space-evenly;
}

.footer .second-row {
  display: flex;
  justify-content: center;
}

.links img {
  height: 20px;
  width: auto;
}

ul.experiences,
ul.projects {
  list-style-type: none;
}

ul.experiences li,
ul.projects li {
  position: relative; /* so that pseudoelements are positioned relatively to their "li"s*/
  /* use padding-bottom instead of margin-bottom.*/
  margin-bottom: 0; /* This overrides previously specified margin-bottom */
  padding-bottom: 1.5em;
}

ul.experiences li:after,
ul.projects li:after {
  /* bullets */
  content: url("http://upload.wikimedia.org/wikipedia/commons/thumb/3/30/RedDisc.svg/20px-RedDisc.svg.png");
  position: absolute;
  left: -35px; /*adjust manually*/
  top: 0px;
}

ul.experiences li:before,
ul.projects li:before {
  /* lines */
  content: "";
  position: absolute;
  left: -25px; /* adjust manually */
  border-left: 1px solid black;
  height: 100%;
  width: 1px;
}

ul.experiences li:first-child:before,
ul.projects li:first-child::before {
  /* first li's line */
  top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.experiences li:last-child:before,
ul.projects li:last-child:before {
  /* last li's line */
  height: 4px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}

.crimson-pro-theme {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* google font styling */

.google {
  font-family: sans-serif;
}

.google span:nth-child(10n + 1) {
  color: #4285f4;
}

.google span:nth-child(10n + 2) {
  color: #ea4335;
}

.google span:nth-child(10n + 3) {
  color: #fbbc05;
}

.google span:nth-child(10n + 4) {
  color: #4285f4;
}

.google span:nth-child(10n + 5) {
  color: #34a853;
}

.google span:nth-child(10n + 6) {
  color: #ea4335;
}

.links img {
  height: 20px;
  width: auto;
}

.link-style:hover {
  transform: translateY(-3px);
}

.break {
  height: 40vh;
}

.spacer {
  height: inherit;
  width: 20vw;
}

.break img {
  height: 85%;
  width: auto;
}

.splash {
  background-color: #fccc0a;
}

.dk {
  background-color: #191716;
}

.brg {
  background-color: #004225;
  color: #fffdd0;
}

.lb {
  background-color: #c4a484;
}

.jasmine {
  background-color: #fae588ff;
}

.white-ish {
  background-color: #fcf6de;
}

.vanilla {
  background-color: #fcefb4ff;
}

hr {
  width: 80%;
  margin: 0 auto;
}
