body {
  /* vh = view port height */
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar img {
  flex-shrink: 0;
}

.right-side ul {
  display: flex;
  list-style-type: none;

  align-items: center;
  gap: 10px;
  padding: 0px;
  margin: 0px;
}

.links {
  padding-top: 20px;
  padding-bottom: 20px;
}

.links ul {
  display: flex;
  list-style-type: none;

  align-items: center;
  gap: 10px;
  margin: 0px;
  padding: 0px;
  color: black;
  justify-content: end;
}

.right-side {
  display: flex;
  align-items: center;
  padding: 10px;
}

.left-side {
  display: flex;
  align-items: center;
}

.right-side a {
  color: black;
  text-decoration: none;
}

.main,
#projects,
#experience {
  padding-left: 15%;
  padding-right: 15%;
}

/* credit to codepen typing effect by user Marko */
.typer {
  height: 100px;
  /*This part is important for centering*/
  display: grid;
  place-items: center start;
}

.typing-demo {
  width: 9ch;
  animation: typing 0.5s steps(9), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.sec {
  display: flex;
  width: 100%;
  height: 300px;
  flex: auto;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 50px;
}

button {
  border-radius: 8%;
  height: 30px;
  width: 100px;
  background-color: goldenrod;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

.footer ul {
  display: flex;
  justify-content: space-evenly;
}

.footer .second-row {
  display: flex;
  justify-content: center;
}

.links img {
  height: 20px;
  width: auto;
}
