body {
  /* vh = view port height */
  height: 100vh;
}

.navbar img {
  flex-shrink: 0;
}

.links ul {
  display: flex;
  list-style-type: none;

  align-items: center;
  gap: 10px;
  margin: 0px;
  padding: 0px;
  color: black;
  justify-content: end;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.sec {
  display: flex;
  width: 100%;
  height: 300px;
  flex: auto;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 50px;
}

.footer ul {
  display: flex;
  justify-content: space-evenly;
}

.links img {
  height: 20px;
  width: auto;
}

.crimson-pro-theme {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* google font styling */

.google {
  font-family: sans-serif;
}

.google span:nth-child(10n + 1) {
  color: #4285f4;
}

.google span:nth-child(10n + 2) {
  color: #ea4335;
}

.google span:nth-child(10n + 3) {
  color: #fbbc05;
}

.google span:nth-child(10n + 4) {
  color: #4285f4;
}

.google span:nth-child(10n + 5) {
  color: #34a853;
}

.google span:nth-child(10n + 6) {
  color: #ea4335;
}

.links img {
  height: 20px;
  width: auto;
}

.link-style:hover {
  transform: translateY(-3px);
}

.link-resume {
  text-decoration: none;
  color: black;
}

.link-resume:hover {
  text-decoration: underline;
  font-weight: bold;
}

.link-social:hover {
  transform: scale(1.2);
}

.break {
  height: 40vh;
}

.spacer {
  height: inherit;
  width: 20vw;
}

.break img {
  height: 85%;
  width: auto;
}

.splash {
  background-color: #fccc0a;
}

.dk {
  background-color: #191716;
}

.lb {
  background-color: #c4a484;
}

.jasmine {
  background-color: #fae588ff;
}

.white-ish {
  background-color: #fcf6de;
}

.vanilla {
  background-color: #fcefb4ff;
}

hr {
  width: 80%;
  margin: 0 auto;
}
